body{
    display: flex;
    justify-content: center;
}
div{
    margin: 4%;
    height: 800px;
    width: 1200px;
    border: 2px black solid;
    background-image: url(img/dykuma.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
margin-bottom: 100px;
padding: 20px;
    height: 600px;
    width: 600px;
    border: 2px black solid;
    background: #d7d7c1;
    display: flex;
    flex-direction: column;
}